## Energy saved from recycling
<p>Did you know that recycling saves energy by reducing or eliminating the need to make materials from scratch? For example, aluminum can manufacturers can skip the energy-costly process of producing aluminum from ore by cleaning and melting recycled cans. Aluminum is classified as a non-ferrous metal.</p>
<p>Singapore has an ambitious goal of becoming a zero-waste nation. The amount of waste disposed of in Singapore has increased seven-fold over the last 40 years. At this rate, Semakau Landfill, Singapore’s only landfill, will run out of space by 2035. Making matters worse, Singapore has limited land for building new incineration plants or landfills.</p>
<p>The government would like to motivate citizens by sharing the total energy that the combined recycling efforts have saved every year. They have asked you to help them.</p>
<p>You have been provided with three datasets. The data come from different teams, so the names of waste types may differ.</p>
<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6;">
    <div style="font-size:16px"><b>datasets/wastestats.csv - Recycling statistics per waste type for the period 2003 to 2017</b>
    </div>
Source: <a href="https://www.nea.gov.sg/our-services/waste-management/waste-statistics-and-overall-recycling">Singapore National Environment Agency</a>
<ul>
    <li><b>waste_type: </b>The type of waste recycled.</li>
    <li><b>waste_disposed_of_tonne: </b>The amount of waste that could not be recycled (in metric tonnes).</li>
    <li><b>total_waste_recycle_tonne: </b>The amount of waste that could be recycled (in metric tonnes).</li>
    <li><b>total_waste_generated: </b>The total amount of waste collected before recycling (in metric tonnes).</li>
    <li><b>recycling_rate: </b>The amount of waste recycle per tonne of waste generated.</li>
    <li><b>year: </b>The recycling year.</li>
</ul>
    </div>
<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6; margin-top: 17px;">
    <div style="font-size:16px"><b>datasets/2018_2019_waste.csv - Recycling statistics per waste type for the period 2018 to 2019</b>
    </div>
Source: <a href="https://www.nea.gov.sg/our-services/waste-management/waste-statistics-and-overall-recycling">Singapore National Environment Agency</a>
<ul>
    <li><b>Waste Type: </b>The type of waste recycled.</li>
    <li><b>Total Generated: </b>The total amount of waste collected before recycling (in thousands of metric tonnes).</li> 
    <li><b>Total Recycled: </b>The amount of waste that could be recycled. (in thousands of metric tonnes).</li>
    <li><b>Year: </b>The recycling year.</li>
</ul>
    </div>
<p>
<br></p>
<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6; margin-top: 17px;">
    <div style="font-size:16px"><b>datasets/energy_saved.csv -  Estimations of the amount of energy saved per waste type in kWh</b>
    </div>
<ul>
    <li><b>material: </b>The type of waste recycled.</li>
    <li><b>energy_saved: </b>An estimate of the energy saved (in kiloWatt hour) by recycling a metric tonne of waste.</li> 
    <li><b>crude_oil_saved: </b>An estimate of the number of barrels of oil saved by recycling a metric tonne of waste.</li>
</ul>

</div>
<pre><code>
</code></pre>

In [14]:
# Use this cell to begin your analysis, and add as many as you would like!
library(readr)
library(dplyr)
library(ggplot2)
library(stringr)

data_waste1 <- read_csv("datasets/wastestats.csv",col_types = cols())

data_waste2 <- read_csv("datasets/2018_2019_waste.csv",col_types = cols())

energy_saved <- read_csv("datasets/energy_saved.csv",col_types = cols())

Warning message:
“Missing column names filled in: 'X2' [2], 'X3' [3], 'X4' [4], 'X5' [5], 'X6' [6]”

In [15]:
head(data_waste1)
head(data_waste2)
head(energy_saved)

  waste_type          waste_disposed_of_tonne total_waste_recycled_tonne
1 Food                679900                   111100
2 Paper/Cardboard     576000                   607100
3 Plastics            762700                    59500
4 C&D                   9700                  1585700
5 Horticultural waste 111500                   209000
6 Wood                119100                   411600
  total_waste_generated_tonne recycling_rate year
1  791000                     0.14           2016
2 1183100                     0.51           2016
3  822200                     0.07           2016
4 1595400                     0.99           2016
5  320500                     0.65           2016
6  530700                     0.78           2016

  Waste Type               Total Generated ('000 tonnes)
1 Construction& Demolition 1440
2 Ferrous Metal            1278
3 Paper/Cardboard          1011
4 Plastics                  930
5 Food                     7440
6 Wood                      438
  Total Recycled ('000 tonnes) Year
1 1434                         2019
2 1270                         2019
3  449                         2019
4   37                         2019
5  136                         2019
6  289                         2019

  The table gives the amount of energy saved in kilowatt hour (kWh) and the amount of crude oil (barrels) by recycling 1 metric tonne (1000 kilogram)  per waste type
1 1 barrel oil is approximately 159 litres of oil
2 NA
3 material
4 energy_saved
5 crude_oil saved
  X2         X3     X4            X5                X6
1 NA         NA     NA            NA                NA
2 NA         NA     NA            NA                NA
3 Plastic    Glass  Ferrous Metal Non-Ferrous Metal Paper
4 5774 Kwh   42 Kwh 642 Kwh       14000 Kwh         4000 kWh
5 16 barrels NA     1.8 barrels   40 barrels        1.7 barrels

In [16]:
#Clean datasets
#select columns and reorder dataset 1
clean_waste1 <- data_waste1 %>%
                    select(waste_type, total_waste_generated_tonne, total_waste_recycled_tonne, year) 

#Change colnames of dataset 2 and mutate columns as tonnes in thousand Kg
colnames(data_waste2) <- c("waste_type", "total_waste_generated_tonne", "total_waste_recycled_tonne", "year")

clean_waste2 <-  data_waste2 %>%
                    mutate(total_waste_generated_tonne = total_waste_generated_tonne *1000,
                           total_waste_recycled_tonne = total_waste_recycled_tonne *1000)
#Create a dataset with rbind and clean data 

energy_savings <- rbind(clean_waste1,clean_waste2)

#Replace values in waste_type column
energy_savings$waste_type <- str_replace(energy_savings$waste_type, "Ferrous metal", "Ferrous Metal")
energy_savings$waste_type <- str_replace(energy_savings$waste_type, "Non-ferrous metal", "Non-ferrous Metal")
energy_savings$waste_type <- str_replace(energy_savings$waste_type, "Non-ferrous Metals", "Non-ferrous Metal")
energy_savings$waste_type <- str_replace(energy_savings$waste_type, "Non-Ferrous Metal", "Non-ferrous Metal")
energy_savings$waste_type <- str_replace(energy_savings$waste_type, "Ferrous Metals", "Ferrous Metal")
energy_savings$waste_type <- str_replace(energy_savings$waste_type, "Non-ferrous metals", "Non-ferrous Metal")
energy_savings$waste_type <- str_replace(energy_savings$waste_type, "Plastics", "Plastic")
                        
unique(energy_savings$waste_type)

 [1] "Food"
 [2] "Paper/Cardboard"
 [3] "Plastic"
 [4] "C&D"
 [5] "Horticultural waste"
 [6] "Wood"
 [7] "Ferrous Metal"
 [8] "Non-ferrous Metal"
 [9] "Used slag"
[10] "Ash & Sludge"
[11] "Glass"
[12] "Textile/Leather"
[13] "Scrap tyres"
[14] "Others (stones, ceramics & rubber etc.)"
[15] "Total"
[16] "Others (stones, ceramics & rubber etc)"
[17] "Food waste"
[18] "Construction Debris"
[19] "Wood/Timber"
[20] "Horticultural Waste"
[21] "Used Slag"
[22] "Sludge"
[23] "Scrap Tyres"
[24] "Others"
[25] "Construction debris"
[26] "Ash and sludge"
[27] "Others (stones, ceramic, rubber, etc.)"
[28] "Construction& Demolition"
[29] "Horticultural"
[30] "Others (stones, ceramic, rubber, ect)"
[31] "Overall"

In [17]:
#Annula energy savings recycling glass, plastic, ferrous and non-ferrous metals
#by year in the period 2015-2019
waste_typesQuestion <- c('Plastic','Glass','Ferrous Metal','Non-ferrous Metal')


annual_energy_savings <- energy_savings %>%
         filter(year == 2019, 
                waste_type %in% waste_typesQuestion)%>%
        mutate(total_energy_saved = case_when(waste_type == "Plastic" ~ total_waste_recycled_tonne*5774,
                                              waste_type == "Glass" ~ total_waste_recycled_tonne*42,
                                              waste_type == "Ferrous Metal" ~ total_waste_recycled_tonne*642,
                                              waste_type == "Non-ferrous Metal" ~ total_waste_recycled_tonne*14000))%>%
        group_by(year)

annual_energy_savings

  waste_type        total_waste_generated_tonne total_waste_recycled_tonne year
1 Ferrous Metal     1278000                     1270000                    2019
2 Plastic            930000                       37000                    2019
3 Non-ferrous Metal  126000                      124000                    2019
4 Glass               75000                       11000                    2019
  total_energy_saved
1  815340000
2  213638000
3 1736000000
4     462000

In [18]:
annual_energy_savings <- energy_savings %>%
         filter(year >= 2015, 
                waste_type %in% waste_typesQuestion)%>%
        group_by(year)%>%
        mutate(total_energy_saved_1 = case_when(waste_type == "Plastic" ~ total_waste_recycled_tonne*5774,
                                              waste_type == "Glass" ~ total_waste_recycled_tonne*42,
                                              waste_type == "Ferrous Metal" ~ total_waste_recycled_tonne*642,
                                              waste_type == "Non-ferrous Metal" ~ total_waste_recycled_tonne*14000))%>%
            summarise(total_energy_saved = sum(total_energy_saved_1))%>%
            as.data.frame()
        
annual_energy_savings

  year total_energy_saved
1 2015 3435929000
2 2016 2554433400
3 2017 2470596000
4 2018 2698130000
5 2019 2765440000